* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Body */

body {
    background-color: #FCEDDA;
    margin: 0;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE4E34;
    color: white;
    width: 100%;
    z-index: 1;

}

/* Buttons */

/* #recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

nav button,
#recipe-container button {
    padding: 0.5rem 0.8rem;
    margin-left: 1rem;
    background-color: #4CAF50; 
    color: white; 
    text-align: center;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.update-portions-btn {
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 5rem;
}

h1, h2, h3, h4, p, img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes {
    text-align: center;
    list-style: none;
}

.recipes img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
    border-radius: 20%;
    opacity: 1;
    transition: .5s ease;
}

.recipes img:hover {
    opacity: 0.8;
}
