* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, p, img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 30%;
}

p {
    max-width: 50%;
}